<header>
  <nav>
    <div>
      <button routerLink="/Login">Login</button> &nbsp;&nbsp;
      <button routerLink="/Login" [queryParams]="{ logout: true }">
        Logout
      </button>
    </div>
    <ul class="navbar-nav mr-auto">
      <!-- AddStudent navigation link -->

      <li>
        <!-- <a
          routerLink
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a> -->
        <a
          routerLink="/Home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [state]="{
            message: 'Hello Taha Hussein, this message from route data state'
          }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="./registration"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Registration
        </a>
      </li>

      <li>
        <a
          routerLink="/add-student"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Add Student
        </a>
      </li>
      <li>
        <a
          routerLink="/students/1"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Students
        </a>
      </li>
      <!-- Add other navigation links here if needed -->
    </ul>
  </nav>
</header>
