<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label for="textInput">Text Input:</label>
    <input type="text" id="textInput" [formControlName]="FormNames.textInput">

    <br>

    <label for="numberInput">Number Input:</label>
    <input type="number" [id]="FormNames.numberInput" [formControlName]="FormNames.numberInput">

    <br>

    <label for="emailInput">Email Input:</label>
    <input type="email" id="emailInput" [formControlName]="FormNames.emailInput">

    <br>

    <label for="passwordInput">Password Input:</label>
    <input type="password" id="passwordInput" [formControlName]="FormNames.passwordInput">

    <br>

    <label for="checkbox">Checkbox:</label>
    <input type="checkbox" id="checkbox" [formControlName]="FormNames.checkbox">

    <br>

    <label for="radio">Radio Button:</label>
    <input type="radio" id="radio1" name="radio" [value]="'Option1'" [formControlName]="FormNames.radio">
    <label for="radio1">Option 1</label>
    <input type="radio" id="radio2" name="radio" [value]="'Option2'" [formControlName]="FormNames.radio">
    <label for="radio2">Option 2</label>

    <br>

    <label for="select">Select:</label>
    <select id="select" formControlName="select">
        <option [ngValue]="1">Option 1</option>
        <option [ngValue]="2">Option 2</option>
        <option [ngValue]="3">Option 3</option>
    </select>

    <br>

    <label for="multi-select">Multi Select:</label>

    <br>

    <select id="multi-select" [formControlName]="FormNames.multiSelect" multiple>
        <option [ngValue]="1">Option 1</option>
        <option [ngValue]="2">Option 2</option>
        <option [ngValue]="3">Option 3</option>
    </select>

    <br>

    <form [formGroupName]="FormNames.nestedObject">
        <label for="name">Name:</label>
        <input type="text" id="name" [formControlName]="NestedObjectNames.name">
    </form>
    <button type="submit">Submit</button>
</form>
