<!-- app.component.html -->

<header>
    <nav>
        <ul class="navbar-nav mr-auto">
            <!-- AddStudent navigation link -->
            <li>
                <a routerLink="/registration" routerLinkActive="active">Registration</a>
            </li>

            <li>
                <a routerLink="/add-student" routerLinkActive="active">Add Student</a>
            </li>
            <!-- Add other navigation links here if needed -->
        </ul>
    </nav>
</header>

<div class="container">
    <!-- Your other content will be displayed here -->
    <router-outlet></router-outlet>
</div>
